<div class="box py-3 card-columns">
    {{#messages}}
        <div class="card">
            <div class="card-body">
                <p class="card-text">{{message}}</p>
                <p class="card-text">{{#str}} postedby, local_greetings, {{firstname}} {{/str}}</p>
                <p class="card-text">
                    <small class="text-muted">
                        {{#userdate}} {{timecreated}}, {{#str}} strftimedaydatetime, core_langconfig {{/str}} {{/userdate}}
                    </small>
                </p>
            </div>
        </div>
    {{/messages}}
</div>