<div class="box py-3 card-columns" role="list">
    {{#messages}}
        <div class="card" role="listitem" style="background: {{cardbackgroundcolor}}">
            <div class="card-body">
                <p class="card-text">{{message}}</p>
                <p class="card-text">{{#str}} postedby, local_greetings, {{firstname}} {{/str}}</p>
                <p class="card-text">
                    <small class="text-muted">
                        {{#userdate}} {{timecreated}}, {{#str}} strftimedaydatetime, core_langconfig {{/str}} {{/userdate}}
                    </small>
                </p>
                <p class="card-text">
                    <a href="{{config.wwwroot}}/local/greetings/index.php?action=del&id={{id}}&sesskey={{config.sesskey}}">
                    {{#pix}} t/delete {{/pix}}{{#str}} delete {{/str}}
                    </a>
                </p>
            </div>
        </div>
    {{/messages}}
</div>